@charset "UTF-8";
/* COLORES */
/* FUENTES */
/* SECTIONS */
/* CUADRADOS */
/* header {
    grid-area: header;
    background-color: lightblue;
} */
.video_banner_landing {
  height: 50vh;
  background-color: black;
  display: grid;
  align-items: center;
  pointer-events: none; }
  .video_banner_landing video {
    width: 100%;
    margin: 0;
    padding: 0; }

.products {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: 5vh; }
  .products__h2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .products__h2 h2 {
      width: 100%;
      height: 22vh;
      background-color: #DC2D7D;
      text-align: center;
      font-family: TruenoSBd;
      font-size: 50px;
      color: white;
      display: grid;
      align-items: center; }
    .products__h2 p {
      width: 100%;
      background-color: black;
      color: white;
      font-family: Gordita-Regular;
      text-align: center; }

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh; }

/* SERVICIOS */
.services {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .services__h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .services__h2 h2 {
      width: 100%;
      height: 22vh;
      background-color: #DC2D7D;
      text-align: center;
      font-family: TruenoSBd;
      font-size: 50px;
      color: white;
      display: grid;
      align-items: center; }
    .services__h2 p {
      width: 100%;
      background-color: black;
      color: white;
      font-family: Gordita-Regular;
      text-align: center; }
  .services .contenedor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh; }
    .services .contenedor2__images {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10vh 0;
      background-color: #e3e3e3; }
      .services .contenedor2__images img {
        width: 70vw; }
      .services .contenedor2__images p {
        width: 60vw;
        font-family: Gordita-Regular;
        font-size: 20px;
        text-align: center; }

.body_nosotros {
  background-image: url(../assets/Desktop3.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */ }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* ¿POR QUÉ? */ }
  section .historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    section .historia__h2 {
      display: flex;
      flex-direction: column;
      font-family: TruenoSBd;
      color: #FFE8F2; }
      section .historia__h2 h2 {
        font-size: 15vw;
        text-align: center; }
      section .historia__h2 p {
        font-size: 8vw;
        width: 50vw; }
    section .historia__img {
      display: flex;
      position: absolute; }
      section .historia__img img {
        width: 110vw;
        position: absolute;
        transform: translateX(-60vw);
        z-index: -1;
        opacity: 60%; }
  section .porque {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh; }
    section .porque__h2 {
      display: flex;
      flex-direction: column;
      font-family: TruenoSBd;
      color: #FFE8F2;
      z-index: 1;
      position: relative; }
      section .porque__h2 h2 {
        font-size: 13vw; }
      section .porque__h2 p {
        font-size: 8vw;
        width: 50vw; }
    section .porque__img {
      position: absolute; }
      section .porque__img img {
        width: 90vw;
        z-index: -1;
        opacity: 30%; }

.main_catalogo .text_catalogo {
  margin-top: 5vh; }
  .main_catalogo .text_catalogo h3 {
    background-color: black;
    color: white;
    font-family: Gordita-Regular;
    font-size: 20px;
    text-align: center; }

.main_catalogo .catalogo_container {
  display: flex;
  gap: 5vh;
  margin-top: 5vh;
  margin-bottom: 10vh; }
  .main_catalogo .catalogo_container .catalogo_zapa .card_text_catalogo {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 10px;
    background-color: white; }
    .main_catalogo .catalogo_container .catalogo_zapa .card_text_catalogo p {
      font-family: TruenoUltLt;
      margin: 0; }

.contacto_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh; }
  .contacto_form .form_text {
    display: flex;
    flex-direction: column; }
    .contacto_form .form_text h1 {
      font-family: TruenoSBd;
      font-size: 10vw;
      text-align: center;
      color: #DC2D7D; }
    .contacto_form .form_text h4 {
      font-family: TruenoSBd;
      text-align: center; }
  .contacto_form .form_class {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-top: 10vh;
    margin-bottom: 15vh; }
    .contacto_form .form_class .input_ {
      width: 90vw;
      height: 5vh;
      border: 2px solid black;
      box-shadow: 5px 5px; }
    .contacto_form .form_class textarea {
      width: 90vw;
      height: 20vh;
      border: 2px solid black;
      box-shadow: 5px 5px; }
    .contacto_form .form_class .submit input {
      width: 90vw;
      background-color: black;
      color: white; }

/* BARRA DE NAVEGACIÓN */
.top__nav {
  background-color: white;
  height: 20px; }
  .top__nav p {
    font-family: Gordita-Regular;
    font-size: 14px;
    text-align: center; }

.nav-back {
  display: flex;
  gap: 20vw;
  justify-content: space-between;
  background-color: black;
  z-index: 2; }

.brand_nav {
  width: 50vw; }

nav {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  gap: 30vw;
  height: 10vh; }
  nav .image_logo {
    display: inline-flex;
    align-items: center;
    margin-left: 16vw;
    /* background-color: $colornegro; */ }
  nav .hamburguesa {
    display: grid;
    height: 3vh;
    margin-right: 16vw;
    transform: translateY(3.5vh); }
  nav ul {
    display: none;
    align-items: center;
    gap: 2vw;
    font-family: TruenoUltLt; }
    nav ul li a {
      color: aliceblue; }
    nav ul li :hover {
      background-color: #DC2D7D; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

@font-face {
  font-family: TruenoSBd;
  src: url(../fonts/TruenoBlk.otf); }

@font-face {
  font-family: TruenoUltLt;
  src: url(../fonts/TruenoUltLt.otf); }

@font-face {
  font-family: Gordita-Regular;
  src: url(../fonts/Gordita-Regular.otf); }

body {
  background-image: url(../assets/back_nuevo_2.jpg); }

footer {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  background-color: black;
  padding-left: 5vw;
  padding-right: 5vw; }
  footer .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    gap: 5vh; }
    footer .footer__links li a {
      color: white;
      font-family: Gordita-Regular; }
  footer .footer__social {
    display: flex;
    justify-content: center;
    gap: 5vw; }
  footer p {
    color: white;
    font-family: TruenoUltLt;
    text-align: center;
    margin-bottom: 5vh; }

@media (min-width: 600px) {
  nav {
    gap: 50vw; }
    nav .brand_nav {
      width: 250px; }
  .image_logo svg {
    width: 220px; }
  .hamburguesa {
    margin-right: 100vw; } }

@media (min-width: 800px) {
  /* HEADER */
  nav {
    gap: 60vw; }
  .video_banner_landing {
    height: 100%; }
  /* LANDING */
  .products {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .products__h2 {
      width: 90vw; }
      .products__h2 h2 {
        width: 100%;
        height: 22vh;
        background-color: #DC2D7D;
        text-align: center;
        font-family: TruenoSBd;
        font-size: 50px;
        color: white;
        display: grid;
        align-items: center;
        width: 100%;
        height: 15vh; }
      .products__h2 p {
        width: 80vw;
        font-family: Gordita-Regular;
        font-size: 24px; }
    .products .contenedor img {
      width: 60vw; }
  /* servicios */
  .services__h2 {
    width: 90vw; }
    .services__h2 h2 {
      width: 100%;
      height: 15vh; }
    .services__h2 p {
      width: 80vw;
      font-family: Gordita-Regular;
      font-size: 24px; }
  .services .contenedor2__images img {
    width: 50vw; }
  .services .contenedor2__images p {
    width: 40vw;
    font-size: 30px; }
  /* -------------------------------------------------    */
  /* NOSOTROS */
  section {
    /* ¿POR QUÉ NOSOTROS? */ }
    section .historia {
      right: 100px;
      pointer-events: none; }
      section .historia__h2 {
        margin-top: 50px; }
        section .historia__h2 h2 {
          font-size: 90px; }
        section .historia__h2 p {
          font-size: 35px;
          width: 450px;
          height: 50vh; }
      section .historia__img img {
        width: 500px;
        position: absolute;
        transform: translateX(-2px); }
    section .porque {
      flex-direction: row;
      margin-top: 200px; }
      section .porque__h2 h2 {
        font-size: 100px; }
      section .porque__h2 p {
        width: 450px;
        font-size: 35px;
        height: 70vh; }
      section .porque__img img {
        width: 300px;
        /* left: 450px; */
        position: absolute;
        transform: translateY(-320px); }
  /* CATALOGO */
  .main_catalogo .text_catalogo {
    margin-top: 10vh; }
  .main_catalogo .catalogo_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh;
    margin-top: 5vh;
    margin-bottom: 10vh; } }

@media (min-width: 1024px) {
  /* HEADER */
  nav {
    gap: 20vw; }
    nav .image_logo svg {
      transform: translateX(-110px);
      width: 220px; }
    nav .hamburguesa {
      display: none; }
    nav ul {
      transform: translateX(-56px);
      display: flex;
      justify-content: center;
      gap: 2vw; }
  .video_banner_landing {
    height: 100%; }
  /* LANDING */
  .products .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .products .contenedor img {
      width: 30vw; }
  /* servicios */
  .services .contenedor2__images img {
    width: 30vw; }
  .services .contenedor2__images p {
    width: 35vw;
    font-size: 25px; }
  /* NOSOTROS */
  section {
    /* ¿POR QUÉ NOSOTROS? */ }
    section .historia {
      right: 200px; }
      section .historia__h2 h2 {
        /* font-size: 90px; */ }
      section .historia__h2 p {
        /*  height: 50vh; */ }
      section .historia__img img {
        width: 700px;
        position: absolute;
        transform: translateX(-2px); }
    section .porque {
      margin-top: 200px; }
      section .porque__h2 {
        left: 150px; }
        section .porque__h2 h2 {
          font-size: 100px; }
        section .porque__h2 p {
          width: 450px;
          font-size: 35px;
          height: 70vh; }
      section .porque__img img {
        width: 500px; }
  /* CONTACTO */
  .contacto_form .form_text {
    display: flex;
    flex-direction: column; }
    .contacto_form .form_text h1 {
      font-family: TruenoSBd;
      font-size: 100px;
      width: 800px;
      text-align: center;
      color: #DC2D7D; }
  .contacto_form .form_class {
    gap: 4vh; }
    .contacto_form .form_class .input_ {
      width: 900px;
      height: 5vh;
      border: 2px solid black;
      box-shadow: 5px 5px; }
    .contacto_form .form_class textarea {
      width: 900px;
      height: 20vh; }
    .contacto_form .form_class .submit input {
      width: 900px;
      height: 40px; } }

@media (min-width: 1366px) {
  /* LANDING */
  .services .contenedor2 {
    display: flex;
    flex-direction: row; }
    .services .contenedor2__images {
      width: 25vw; }
      .services .contenedor2__images img {
        width: 25vw; }
      .services .contenedor2__images p {
        width: 24vw;
        font-size: 20px; }
  /* NOSOTROS */
  section {
    /* ¿POR QUÉ NOSOTROS? */ }
    section .historia {
      right: 200px; }
      section .historia__h2 h2 {
        /* font-size: 90px; */ }
      section .historia__h2 p {
        /*  height: 50vh; */ }
      section .historia__img img {
        width: 700px;
        position: absolute;
        transform: translateX(-2px); }
    section .porque {
      margin-top: 100px; }
      section .porque__h2 {
        left: 150px; }
        section .porque__h2 h2 {
          font-size: 100px; }
        section .porque__h2 p {
          width: 450px;
          font-size: 35px;
          height: 70vh; }
      section .porque__img img {
        width: 500px; } }
