




/* BANNER */

.top_text_banner {
    background-color: #a8a8a8;
    height: 5vh;
    padding-top: 1vh;
    font-size: 15px;
    display: grid;
    place-content: center;

        p {
            font-family: TruenoSBd;
            animation: toptext_banner 5000ms infinite ease;

}
}


.video_banner {
    width: 100%;

        video {
            pointer-events: none;
            width: 100%;
}
}




/* PRODUCTOS */

.text_product {
    /* width: ; */
    
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    margin: 20vh 0vw 5vh 0vw;
    background-image: url(../assets/fondo_prod.png);
    
        h1 {
            font-family: TruenoSBd;
            font-size: 50px;
            background-color: $coloracento;
            padding: 0vh 10vw 0vh 10vw;
            color: $colorwhite;
}


        p {
            font-family: Gordita-Regular;
            font-size: 20px;
            background-color: $colorwhite;
            color: #000000;
            width: 50vw;
            text-align: center;
            /* padding: 0vh 4vw 0vh 4vw; */

}
}




/* PRODUCTOS IMAGENES */

.article__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem,1fr));
    padding-left:7vw;
    padding-right: 5vw;
}


/* SERVICIOS */


.servicios_group {
    display: flex;
    flex-direction: column;
}

.servicios__container {
    display: grid;
    justify-items: center;
    row-gap: 10vh;
    grid-template-columns: repeat(auto-fill, minmax(38rem,1fr));
    margin-bottom: 20vh;

        :hover {
            background-color: $coloracento;
            transition: 300ms;
}
    
}

.img__servicios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: $colorwhite;
    width: 25vw;
    height: 80vh;
    border: 1px solid black;

        img {
            width: 20vw;
            margin-top: 5vh;
}
}

.servicios_text {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

        h4 {
            font-family: TruenoSBd;
            font-size: 22px;
            text-align: center;
            width: 24vw;
}

        p {
            font-family: Gordita-light;
            font-size: 20px;
            width: 19vw;
            text-align: center;

}
}


