

                                    /* "PAGA CON MERCADO LIBRE" */
.top__nav {
    display: flex;
    justify-content: center;
    background-color: map-get($map: $colorescalidos, $key: 'blanco');
    height: 20px;
    animation: backcolor 4000ms linear infinite alternate;

    p {
        font-family: Gordita-Regular;
        font-size: 14px;
        text-align: center;
    }
    

    @keyframes backcolor {
        0% {
            background-color: white;
        }
        50% {
            background-color: black;
            color: white;
        }
    }
}



                                        /* NAVBAR */
.nav-back {                             
    display: flex;
    gap: 20vw;
    justify-content: space-between;
    background-color: $colornegro;
    z-index: 2;
}

nav {
    background-color: $colornegro;
    display: flex;
    justify-content: space-evenly;
    gap: 30vw;
    height: 10vh;

    .navbar-brand {
        .brand_nav {
            width: 130px;
        }
    }
    .navbar-toggler {
        width: 35px;
        height: 40px;
        opacity: 30%;
        
    }
    
    ul {
        display: none;
        align-items: center;
        gap: 2vw;
        font-family: $fuentelight;
        
        li {

            a {
                color: map-get($map: $colorescalidos, $key: 'blanco');  
            }
        }    
        
            li :hover{
            background-color: $coloracento;
            }

    }
    
}