


/* SECTIONS */



.video_banner_landing {
    height: 50vh;
    display: grid;
    align-items: center;
    pointer-events: none;
        video {
            width: 100%;
            margin: 0;
            padding: 0;
        }
}

@mixin h2-prod-serv {
        width: 100%;
        height: 22vh;
        background-color: $coloracento;
        text-align: center;
        font-family: TruenoSBd;
        font-size: 40px;
        color: map-get($map: $colorescalidos, $key: 'blanco');
        display: grid;
        align-items: center;
}

              /* PRODUCTOS */

.products {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
        
        &__h2 {
        display: flex; 
        flex-direction: column;  
        align-items: center; 
        h2 {
            @include h2-prod-serv;
        }
        p {
            width: 100%;
            background-color: $colornegro;
            color: map-get($map: $colorescalidos, $key: 'blanco');
            font-family: Gordita-Regular;
            text-align: center;
        }    
}       
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;

    img {
        width: 280px;
    }

}


                   /* SERVICIOS */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__h2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            width: 100%;
            height: 22vh;
            background-color: $coloracento;
            text-align: center;
            font-family: TruenoSBd;
            font-size: 40px;
            color: map-get($map: $colorescalidos, $key: 'blanco');
            display: grid;
            align-items: center;
        }
        p {
            width: 100%;
            background-color: $colornegro;
            color: map-get($map: $colorescalidos, $key: 'blanco');
            font-family: Gordita-Regular;
            text-align: center;
        } 
    }


    .contenedor2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10vh;
        margin-top: 5vh;
        margin-bottom: 5vh;

        &__images {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:10vh 0;
            background-color: map-get($map: $colorescalidos, $key: 'blanco');
            box-shadow: 10px 10px 30px -12px rgba(0, 0, 0, 0.5);

            img {
                width: 70vw;
            }
            p {
                width: 60vw;
                font-family: Gordita-Regular;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}