
@media (min-width: 300px) {
    nav {
        .navbar-brand {
            .brand_nav {
                width: 160px;
            }
        }
    }

    /* LANDING/INDEX */

    .video_banner_landing {
        height: 20vh;
        display: grid;
        align-items: center;
        pointer-events: none;
            video {
                width: 100%;
                margin: 0;
                padding: 0;
            }
    }
}


@media (min-width: 400px) {
    nav {
        .navbar-brand {
            .brand_nav {
                width: 180px;
            }
        }
    }

        /* LANDING/INDEX */

        .video_banner_landing {
            height: 40vh;
            display: grid;
            align-items: center;
            pointer-events: none;
                video {
                    width: 100%;
                    
                    margin: 0;
                    padding: 0;
                }
        }
}



@media (min-width: 600px) {
    nav {
        .navbar-brand {
            .brand_nav {
                width: 200px;
            }
        }
    }

    /* LANDING/INDEX */

    .video_banner_landing {
        height: 50vh;
        display: grid;
        align-items: center;
        pointer-events: none;
            video {
                width: 100%;
                
                margin: 0;
                padding: 0;
            }
    }
    

          /* LANDING */

    .products {
        &__h2 {
            h2 {
                width: 90vw;
                height: 22vh;
                font-size: 60px;
                color: map-get($map: $colorescalidos, $key: 'blanco');
                display: grid;
                align-items: center;
            }
        }
    }

    /* servicios */

    .services {
        &__h2 {
            h2 {
                width: 90vw;
                font-size: 60px;
            }
        }
    }
}

@media (min-width: 800px) {

            /* HEADER */

    nav {
        gap: 60vw;
    }
    .video_banner_landing {
        height: 100%;
    }

           /* LANDING */

    .products {

        &__h2 {
            width: 90vw;
        h2 {
            width: 90vw;
            height: 15vh;
            font-size: 60px;
        }
        p {
            width: 80vw;
            font-size: 24px;
        }    
}       

        .contenedor {
        img {
            width: 60vw;
        }
    }
    }

         /* servicios */
    .services {
        &__h2 {
            width: 90vw;
    
            h2 {
                width: 100%;
                height: 15vh;
            }
            p {
                width: 80vw;
                font-family: Gordita-Regular;
                font-size: 24px;
            } 
        }

        .contenedor2 {
        &__images {
            img {
                width: 50vw;
            }
            p {
                width: 40vw;
                font-size: 30px;
            }
        }
    }

    }

/* -------------------------------------------------    */ 

             /* NOSOTROS */

section {
    .historia {
        right: 100px;
        pointer-events: none;

        &__h2 {
            margin-top: 50px;
            h2 {
                font-size: 90px;
            }
            p {
                font-size: 35px;
                width: 450px;
                height: 50vh;
            }
        }
        &__img {
            img {
                width: 500px;
                position: absolute;
                transform: translateX(-2px);
            }
        }
    }

            /* ¿POR QUÉ NOSOTROS? */

    .porque {
        flex-direction: row;
        margin-top: 200px;
        
        &__h2 {
            h2 {
                font-size: 100px;
            }
            p {
                width: 450px;
                font-size: 35px;
                height: 70vh;
            }
        }
        &__img {
            img {
                width: 300px;
                /* left: 450px; */
                position: absolute;
                transform: translateY(-320px);
            }
        }
    }
}


                    /* CATALOGO */


.main_catalogo {

    .text_catalogo {
        margin-top: 10vh;

    }

        .catalogo_container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5vh;
            margin-top: 5vh;
            margin-bottom: 10vh;

        }
}
}   

@media (min-width: 1024px) {

    /* HEADER */

    nav {
        gap: 20vw;
        .image_logo {
            
            svg {
                transform: translateX(-110px);
                width: 220px;
            }
            }

        .hamburguesa {
            display: none;
        }
        ul {
            transform: translateX(-56px);
            display: flex;
            justify-content: center;
            gap: 2vw;

        }    
    }

    .video_banner_landing {
        height: 100%;
    }
    

          /* LANDING */

    .products {
        .contenedor {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(2,1fr);
            img {
                width: 30vw;
            }
    }

    }

         /* servicios */
    
    .services {
        .contenedor2 {
            &__images {
                img {
                    width: 30vw;
                }
                p {
                    width: 35vw;
                    font-size: 25px;
                }
            }
        }

    }

             /* NOSOTROS */

    section {
        .historia {
            right: 200px;
            &__img {
                img {
                    width: 700px;
                    position: absolute;
                    transform: translateX(-2px);
                }
            }
        }

            /* ¿POR QUÉ NOSOTROS? */

        .porque {
            margin-top: 200px;
        
            &__h2 {
                left: 150px;
                h2 {
                    font-size: 100px;
                }
                p {
                    width: 450px;
                    font-size: 35px;
                    height: 70vh;
                }
            }
            &__img {
                img {
                    width: 500px;
    
                }
            }
        }
    }


                /* CONTACTO */

    .contacto_form {
        .form_text {
            display: flex;
            flex-direction: column;
            h1 {
                font-family: TruenoSBd;
                font-size: 100px;
                width: 800px;
                text-align: center;
                color: $coloracento;
            }
        }
        .form_class {
            gap: 4vh;

        .input_ {
            width: 900px;
            height: 5vh;
            border: 2px solid $colornegro;
            box-shadow: 5px 5px;
        }
        textarea {
            width: 900px;
            height: 20vh;
        }
        
        .submit {
            input {
                width: 900px;
                height: 40px;
            }
        }
    }
    }
    
                /* FOOTER */

    footer {
        .img_whatsapp {
            position: fixed;
            bottom: 10vh;
            left: 50vw;
            z-index: 3;
            width: 70px;
        }
    }            

}



@media (min-width: 1366px) {

           /* LANDING */

    .services {
        .contenedor2 {
            display: flex;
            flex-direction: row;
            
            &__images {
                width: 25vw;
                img {
                    width: 25vw;
                }
                p {
                    width: 24vw;
                    font-size: 20px;
                }
            }
        }

    }

               /* NOSOTROS */

    section {
        .historia {
            right: 200px;

            &__img {
                img {
                    width: 700px;
                    position: absolute;
                    transform: translateX(-2px);
                }
            }
        }

            /* ¿POR QUÉ NOSOTROS? */

        .porque {
            margin-top: 100px;
        
            &__h2 {
                left: 150px;
                h2 {
                    font-size: 100px;
                }
                p {
                    width: 450px;
                    font-size: 35px;
                    height: 70vh;
                }
            }
            &__img {
                img {
                    width: 500px;
    
                }
            }
        }
    }

}