.body_nosotros {
    background-image: url(../assets/Desktop3.jpg);
    background-repeat: no-repeat;
    
    /* background-size: cover; */
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .historia {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &__h2 {
            display: flex;
            flex-direction: column;
            font-family: TruenoSBd;
            color: map-get($map: $colorescalidos, $key: 'colorrosa' );
            h2 {
                font-size: 15vw;
                text-align: center;
            }

            p {
                font-size: 8vw;
                width: 50vw;
            }

        }
        &__img {
            display: flex;
            position: absolute;
            img {
                width: 110vw;
                position: absolute;
                transform: translateX(-60vw);
                z-index: -1;
                opacity: 60%;
                
            }
        }
    }


/* ¿POR QUÉ? */

    .porque {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
        margin-bottom: 10vh;

        &__h2 {
            display: flex;
            flex-direction: column;
            font-family: TruenoSBd;
            color: map-get($map: $colorescalidos, $key: 'colorrosa' );
            z-index: 1;
            position: relative;

            h2 {
                font-size: 13vw;
        }
            p {
                font-size: 8vw;
                width: 50vw;
        }
        }

        &__img {
            position: absolute;

            img {
                width: 90vw;
                z-index: -1;
                opacity: 30%;
            }
        }
    }
}
